/* Animación de fade-in para transiciones entre páginas */
@keyframes pageTransitionFadeIn {
  from {
    visibility: hidden;
    transform: scale(0.98);
  }

  to {
    visibility: visible;
    transform: scale(1);
  }
}

.page-transition {
  visibility: hidden;
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.page-transition.visible {
  animation: pageTransitionFadeIn 0.2s ease-in-out forwards;
}